:root {
  --spaceCadet: #29335C;
  --marigold: #F3A712;
  --bluePurple: #acacde;
  --aeroBlue: #C2FBEF;
  --paradisePink: #EC4067;
  --flirt: #a01a7d;
  --russianViolet: #311847;
  --lightGreen: #62C370;
}

body {
  background: #023;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.timer {
  margin: 10rem auto;
  width: 400px;
  flex-direction: column;
  display: flex;
  background: var(--flirt);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3),
    inset 2px 2px 3px rgba(0, 0, 0, 0.3);
  padding: 3rem;
  border-radius: 2rem;
}

.time {
  display: flex;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 5rem;
  color: var(--marigold);
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.3);
  background-color: white;
  justify-content: space-around;
  margin: 2rem 0;
  line-height: 0;
  border-radius: 2rem;
  padding: 0 1rem;
}

button {
  height: auto;
  font-family: sans-serif;
  font-size: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--bluePurple);
  border: 5px solid white;
  color: white;
}

.reset {
  display: none;
}

.start {
  background-color: var(--lightGreen);
}

.stop {
  background-color: var(--paradisePink);
}